body{
  margin:0;
  font-family:Segoe UI, sans-serif;
  background:#f8fafc;
}

.navbar{
  padding:20px 60px;
  background:#020617;
  color:white;
  display:flex;
  justify-content:space-between;
}

nav a{
  color:white;
  margin-left:15px;
  text-decoration:none;
}

.hero{
  height:85vh;
  display:flex;
  align-items:center;
  justify-content:center;
  background:linear-gradient(120deg,#020617,#0f172a);
}

.glass{
  background:rgba(255,255,255,0.1);
  padding:40px;
  border-radius:20px;
  color:white;
  text-align:center;
}

.btn{
  padding:12px 30px;
  background:#38bdf8;
  border-radius:30px;
  color:black;
  text-decoration:none;
  display:inline-block;
  margin-top:20px;
}

.features{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:30px;
  padding:60px;
}

.feature{
  background:white;
  padding:30px;
  border-radius:15px;
  box-shadow:0 10px 20px rgba(0,0,0,0.1);
}

.ads{
  text-align:center;
  background:#e5e7eb;
  padding:20px;
  margin:20px;
  font-weight:bold;
}

.post-page{
  max-width:800px;
  margin:40px auto;
  background:white;
  padding:40px;
  border-radius:15px;
}

.page{
  max-width:800px;
  margin:60px auto;
  background:white;
  padding:40px;
  border-radius:15px;
}

footer{
  text-align:center;
  padding:20px;
  background:#020617;
  color:white;
}
